Email Claissifier.json
{
  "name": "Email Claissifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1792,
        64
      ],
      "id": "",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.from.value[0].name }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's name from the email. If the name is not available, return an empty string.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an extraction expert. Identify and extract only the key information from the text. If a required attribute is not present, return an empty string as its value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -1568,
        64
      ],
      "id": "",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1552,
        256
      ],
      "id": "",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        64
      ],
      "id": "",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "",
              "name": "introduction",
              "value": "Hey,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        192
      ],
      "id": "b940804f-228d-4cb1-bf14-e7198c5b41e1",
      "name": "No Name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a305a52-3ce0-4586-a900-038a6612178e",
              "name": "introduction",
              "value": "=Dear {{ $json.output.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        -64
      ],
      "id": "eceeebcc-1b81-4fae-b861-04a6acce9140",
      "name": "Name Found"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "introduction",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -720,
        80
      ],
      "id": "7daf9b8a-cc77-4dd8-bfe1-2c489f2dd93d",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d374039-a5c3-4047-b19c-4d05f485cceb",
              "name": "introduction",
              "value": "={{ $json.introduction }}",
              "type": "string"
            },
            {
              "id": "eafcf4be-81e1-42af-83e7-1407680585fc",
              "name": "emailBody",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            },
            {
              "id": "0f9e0296-2c71-47d9-a526-b29ca30a41d2",
              "name": "messageId",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "ea2e0681-abb6-49ae-92f5-aa08f6c1cb79",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        80
      ],
      "id": "037b41d3-38b8-44be-aa17-4ec286f12e0a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputText": "={{ $json.emailBody }}",
        "categories": {
          "categories": [
            {
              "category": "Kaggle",
              "description": "This includes information of kaggle"
            },
            {
              "category": "Daily Dose of DS",
              "description": "This includes information for new AI updates"
            },
            {
              "category": "Udemy",
              "description": "This is reqarding the Training"
            },
            {
              "category": "Miscellaneous",
              "description": "Emails that don't fall into any of the predefined categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.",
          "enableAutoFixing": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -272,
        80
      ],
      "id": "069b5247-c83b-4c4d-97c0-6c773cfa2636",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -256,
        304
      ],
      "id": "1eda0b8e-6d4a-4750-8716-1eb514408495",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Rd4owr6B746AkBbZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_745819522269243592"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        -128
      ],
      "id": "897bc008-6869-4012-8c6a-6db2acb57657",
      "name": "Add label to message",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "2KohxFlMlTUgPLz1",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_5752208218461080031"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        64
      ],
      "id": "7643c8fa-e3ef-4575-a236-0632294fa7f0",
      "name": "Add label to message1",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "2KohxFlMlTUgPLz1",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_2303365145849676185"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        336,
        240
      ],
      "id": "0688c436-c5c6-4878-bf9a-c26370c0accc",
      "name": "Add label to message2",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "2KohxFlMlTUgPLz1",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": [
          "Label_4161135832027494249"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        416
      ],
      "id": "f7732869-ca5c-4b57-bca7-481427777f7c",
      "name": "Add label to message3",
      "webhookId": "af462a09-091d-4ffa-9c2a-2d9dd1f15f88",
      "credentials": {
        "gmailOAuth2": {
          "id": "2KohxFlMlTUgPLz1",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Name Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name Found": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        []
      ]
    },
    "Add label to message1": {
      "main": [
        []
      ]
    },
    "Add label to message2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5db7dd91-d462-40bb-86e5-e15a1b2ec623",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9107766a7fb6a101b38879ab77fe086a2d1cea32c979121a6c0ec015adb8cc58"
  },
  "id": "2hEnE6Ig4EivtwBo",
  "tags": []
}
